# Arquivos de sistema e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# Logs e arquivos temporários de compilação
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos locais de deploy (se aplicável no futuro)
.env
.env.local
